<%= render "includes/_headertag" %>
   <div class="wrapper">
      <%= render "includes/alert" %>
      <%= render "includes/head" %>
      <div class="container-fluid slider-container">
         <div class="customNav">
            <div class="next"><i class="fa fa-angle-right"></i></div>
            <div class="prev"><i class="fa fa-angle-left"></i></div>
         </div>
         <div class="blur-rt"></div>
         <div class="blur-lft"></div>
         <div class="owl-carousel" id="main-banner">
            <div class="item">
               <img src="images/slides/slide-1.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-2.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-3.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-4.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-5.jpg">
            </div>
         </div>
      </div>

      <div class="container-fluid retailer-scroll hidden-xs hidden-sm">
         <div class="container text-center">
            <ul>
               <li><a href=""><img src="images/retailer-logos/basspro.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/fairways.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/jcpenny.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/kangarooz.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/kohls.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/lazyboy.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/oishi.png"></a></li>
            </ul>
         </div>
      </div>

      <!-- Retailer scroll carousel -->
      <div class="container-fluid retailer-scroll visible-sm text-center">
         <div class="owl-carousel" id="homeScroll">
            <div class="item"><a href=""><img src="images/retailer-logos/basspro.png"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/fairways.png"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/jcpenny.png" class="down30"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/kangarooz.png"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/kohls.png" class="down40"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/lazyboy.png" class="down40"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/oishi.png"></a></div>
         </div>
      </div>

      <div class="container-fluid news-center">
         <div class="container">
            <div class="row notice-row">
               <div class="col-xs-12 col-sm-6 col-md-4 img">
                  <img src="images/news-center/easter.png" class="img-responsive">
               </div>
               <div class="col-xs-12 col-sm-6 col-md-8 notice">
                  <h2>Holiday Photos with the Easter Bunny</h2>
                  <p><a href="#">view details <i class="fa fa-angle-right"></i></a></p>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row news-row">
               <div class="col-xs-12 col-sm-6">
                  <div class="section-head">
                     <h1>What's new</h1>
                  </div>
               </div>
               <div class="col-xs-12 col-sm-6 text-right">
                  <div class="col-xs-6 no-pad">
                     <div class="weather">
                        Current weather<br />
                        <div id="weather"></div>
                     </div>
                  </div>
                  <div class="col-xs-6 no-pad">
                     <a href="news.html"><button class="blue-btn">view more <i class="fa fa-angle-right"></i></button></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row anno">
               <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="category">
                     <i class="fa fa-calendar"></i> event
                  </div>
                  <div class="title">
                     Oishi Japanese Bar & Grill Coming Soon
                  </div>
                  <div class="date">
                     Coming in 2017!
                  </div>
                  <div class="details">
                     Oishi offers a wonderful variety of both fresh, unforgettable sushi and classic Japanese dishes.
                  </div>
                  <a class="details-link">View Details <i class="fa fa-angle-right"></i></a>
               </div>

               <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="category">
                     <i class="fa fa-shopping-bag"></i> kohl's
                  </div>
                  <div class="title">
                     35% - 55% Off Bath Towels & Rugs
                  </div>
                  <div class="date">
                     Jan 5 - Jan. 18
                  </div>
                  <div class="details">
                     Don't miss the savings! Shop in store and get 35–55% off bath towels and rugs.
                  </div>
                  <a class="details-link">View Details <i class="fa fa-angle-right"></i></a>
               </div>

               <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="category">
                     <i class="fa fa-shopping-bag"></i> jcpenney
                  </div>
                  <div class="title">
                     Toys Worth Giving Sale
                  </div>
                  <div class="date">
                     Jan 1 - Jan. 22
                  </div>
                  <div class="details">
                     Don't miss our Toys Worth Giving Sale and take 20-40% off select toys for a limited time. 
                  </div>
                  <a class="details-link">View Details <i class="fa fa-angle-right"></i></a>
               </div>

               <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="category">
                     <i class="fa fa-shopping-bag"></i> kohl's
                  </div>
                  <div class="title">
                     50% Off Coldwear Accessories for Her
                  </div>
                  <div class="date">
                     Jan 5 - Jan. 31
                  </div>
                  <div class="details">
                     Don't miss out! Shop in store and get 50% off cold-weather accessories for her.
                  </div>
                  <a class="details-link">View Details <i class="fa fa-angle-right"></i></a>
               </div>
            </div>
         </div>
      </div>
      <%= render "includes/footer" %>
   </div>

   <script>
      // Docs at http://simpleweatherjs.com
      $(document).ready(function() {
        $.simpleWeather({
          location: '',
          woeid: '2497283',
          unit: 'f',
          success: function(weather) {
            html = '<p>'+weather.temp+'&deg;'+weather.units.temp+ ' <i class="wi wi-yahoo-'+weather.code+'"></i></p>';

            $("#weather").html(html);
          },
          error: function(error) {
            $("#weather").html('<p>'+error+'</p>');
          }
        });
      });
   </script>
<%= render "includes/footertag" %>