/*
  Docs at http://http://simpleweatherjs.com

  Look inspired by http://www.degreees.com/
  Used for demo purposes.

  Weather icon font from http://fonts.artill.de/collection/artill-weather-icons

  DO NOT hotlink the assets/font included in this demo. If you wish to use the same font icon then download it to your local assets at the link above. If you use the links below odds are at some point they will be removed and your version will break.
*/

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wf {
  font: normal normal normal 14px/1 weather;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.wf-0:before { content: ":"; }
.wf-1:before { content: "p"; }
.wf-2:before { content: "S"; }
.wf-3:before { content: "Q"; }
.wf-4:before { content: "S"; }
.wf-5:before { content: "W"; }
.wf-6:before { content: "W"; }
.wf-7:before { content: "W"; }
.wf-8:before { content: "W"; }
.wf-9:before { content: "I"; }
.wf-10:before { content: "W"; }
.wf-11:before { content: "I"; }
.wf-12:before { content: "I"; }
.wf-13:before { content: "I"; }
.wf-14:before { content: "I"; }
.wf-15:before { content: "W"; }
.wf-16:before { content: "I"; }
.wf-17:before { content: "W"; }
.wf-18:before { content: "U"; }
.wf-19:before { content: "Z"; }
.wf-20:before { content: "Z"; }
.wf-21:before { content: "Z"; }
.wf-22:before { content: "Z"; }
.wf-23:before { content: "Z"; }
.wf-24:before { content: "E"; }
.wf-25:before { content: "E"; }
.wf-26:before { content: "3"; }
.wf-27:before { content: "a"; }
.wf-28:before { content: "A"; }
.wf-29:before { content: "a"; }
.wf-30:before { content: "A"; }
.wf-31:before { content: "6"; }
.wf-32:before { content: "1"; }
.wf-33:before { content: "6"; }
.wf-34:before { content: "1"; }
.wf-35:before { content: "W"; }
.wf-36:before { content: "1"; }
.wf-37:before { content: "S"; }
.wf-38:before { content: "S"; }
.wf-39:before { content: "S"; }
.wf-40:before { content: "M"; }
.wf-41:before { content: "W"; }
.wf-42:before { content: "I"; }
.wf-43:before { content: "W"; }
.wf-44:before { content: "a"; }
.wf-45:before { content: "S"; }
.wf-46:before { content: "U"; }
.wf-47:before { content: "S"; }

