
      <div class="container-fluid sm-alert-container">
         <div class="container">
            <div class="row">
               <div class="col-xs-10">
                  <img src="images/alert.png" class="sm-alert-img"><div class="sm-closed">Closed Today - </div>
                  <div class="sm-closed-ex">
                     Due to recent weather, Town Center Park is closed today.
                  </div>
               </div>
               <div class="col-xs-2">
                  <div class="sm-close-alert">
                     <i class="fa fa-times-circle"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>