<div class="container-fluid footer-container">
         <div class="container">
            <div class="row hidden-xs">
               <div class="col-xs-10">
                  <div class="email-icon">
                     <img src="images/envelope.png">
                     <img src="images/teal-triangle.png" class="tri">
                  </div>
                  <div class="email-text">
                     Be the first to find out about exclusive deals and events at Spanish Fort Town Center.
                  </div>
               </div>
               <div class="col-sm-2 text-right fb-link">
                  <a href="#"><i class="fa fa-facebook-official"></i></a>
               </div>
            </div>
            <div class="row visible-xs">
               <div class="col-xs-12 text-center">
                  <div class="email-icon">
                     <img src="images/envelope.png">
                     <img src="images/teal-triangle.png" class="tri">
                  </div>
               </div>
               <div class="col-xs-12 text-center">
                  <div class="email-text">
                     Be the first to find out about exclusive deals and events at Spanish Fort Town Center.
                  </div>
               </div>
               <div class="col-sm-2 text-center fb-link">
                  <a href="#"><i class="fa fa-facebook-official"></i></a>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12">
                  <div class="white-divider"></div>
               </div>
            </div>
            <div class="row lower hidden-xs">
               <div class="col-sm-12 text-center footer-nav">
                  <ul>
                     <li><a href="">leasing</a></li>
                     <li><a href="">privacy policy</a></li>
                     <li><a href="">terms of use</a></li>
                     <li><a href="">code of conduct</a></li>
                     <li><a href="">contact us</a></li>
                  </ul>
               </div>
            </div>
            <div class="visible-xs mobi-footer-nav">
               <div class="text-center">
                  <ul class="footer-site-nav">
                     <li><a href="">leasing</a></li>
                     <li><a href="">privacy policy</a></li>
                     <li><a href="">terms of use</a></li>
                     <li><a href="">code of conduct</a></li>
                     <li class="last"><a href="">contact us</a></li>
                  </ul>
               </div>
            </div>
            <div class="row text-center hidden-xs">
               <div class="col-xs-12 ft-address">
                  <i class="fa fa-map-marker"></i> <a href="">30000 Town Center Avenue Spanish Fort, AL 36527</a>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid copy-container">
         <div class="container">
            <div class="col-xs-12 text-center footer-logo">
               <p><img src="images/footer-logo.png"></p>
               <p>&copy; <%= Time.now.year %>, Cypress Equities All rights reserved</p>
            </div>
         </div>
      </div>

      <div class="container-fluid sticky-footer visible-xs">
         <div class="container">
            <div class="icon-container">
               <a href="#">
                  <div class="icon"><i class="fa fa-map-o"></i></div>
                  <div class="icon-link">center map</div>
               </a>
            </div>
            <div class="icon-container">
               <a href="#">
                  <div class="icon"><i class="fa fa-map-signs"></i></div>
                  <div class="icon-link">directions</div>
               </a>
            </div>
            <div class="icon-container">
               <a href="#">
                  <div class="icon"><i class="fa fa-newspaper-o"></i></div>
                  <div class="icon-link">news</div>
               </a>
            </div>
            <div class="icon-container more">
               <a href="#">
                  <div class="icon"><i class="fa fa-bars"></i></div>
                  <div class="icon-link">more</div>
               </a>
            </div>
         </div>
      </div>

      <div class="slide-nav">
         <div class="head">
            <div class="col-xs-8">
               <img src="images/logo.png" class="img-responsive">
            </div>
            <div class="col-xs-4 text-right close-sticky">
               <i class="fa fa-times"></i>
            </div>
         </div>
         <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="directory.html">Directory</a></li>
            <li><a href="">Directions</a></li>
            <li><a href="">News</a></li>
            <li><a href="">Town Center Park</a></li>
            <li><a href="">Trends</a></li>
            <li><a href="">Leasing</a></li>
            <li><a href="#"><span class="info">Info</span></a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Code of Conduct</a></li>
            <li class="last"><a href="">Press Room</a></li>
         </ul>
      </div>