   <script>
   $('.sm-close-alert').click(function(){
      $('.sm-alert-container').slideToggle();
   });
   </script>

   <script>
   $('.full-nav').click(function(){
      $('.site-nav').slideToggle();
   });
   </script>

   <script>
      $('.more').click(function(){
         $('.slide-nav').animate({'left':'-=100%'}, 500);
      });
      $('.close-sticky').click(function(){
         $('.slide-nav').animate({'left':'+=100%'}, 500);
      });
   </script>

   <script>
      $(document).ready(function() {
         var owl = $("#main-banner");
         var myWin = $(window).width();
         var addPad = '';
         if(myWin<992){
             addPad = 0;
         }else{
            addPad = 200;
         }
         owl.owlCarousel({
            center: true,
            items:1,
            stagePadding: addPad,
            loop:true,
            margin:0,
            autoplay: 4000,
            autoplayHoverPause:true,
            smartSpeed: 1000,
            lazyLoad: true,
            dots:true,
            nav:false,
         });

         // Custom Navigation Events
         $(".prev").click(function () {
             owl.trigger('prev.owl.carousel');
         });

         $(".next").click(function () {
             owl.trigger('next.owl.carousel');
         });


         var scroll = $("#homeScroll");
         scroll.owlCarousel({
            center: true,
            items:4,
            stagePadding: 90,
            loop:true,
            margin:0,
            autoplay: 4000,
            autoplayHoverPause:true,
            smartSpeed: 1000,
            lazyLoad: true,
            dots:true,
            nav:false,
            responsive:{
               600:{
                  items:4
               }
            }
         });
         showHideNav();
      });
      function showHideNav(){
         var thisWin = $(window).width();
         //Animate Navigation in on hover
         $('.slider-container').mouseenter(function(){
            $('.next').animate({'right':'+=60px','opacity':'1'}, 400);
            $('.owl-dots').animate({'opacity': '1', 'bottom':'+=65px'}, 400);
         });
         $('.slider-container').mouseleave(function(){
            $('.next').animate({'right':'-=60px','opacity':'0'}, 400);
            $('.owl-dots').animate({'opacity': '0', 'bottom':'-=65px'}, 400);
         });
         $('.slider-container').mouseenter(function(){
            $('.prev').animate({'left':'+=60px','opacity':'1'}, 400);
         });
         $('.slider-container').mouseleave(function(){
            $('.prev').animate({'left':'-=60px','opacity':'0'}, 400);
         });
      }

      // ============== Mobile Nav =============== \\
      $('.open-nav').click(function(){
         $('.open-nav').hide();
         $('.close-nav').show();
         $('.mobile-nav-container').animate({'left':'-=110%'}, 200)
         .animate({'left':'+=15%'}, 75)
         .animate({'left':'-=10%'}, 75)
         .animate({'left':'+=5%'}, 75);
      });
      $('.close-nav').click(function(){
         $('.close-nav').hide();
         $('.open-nav').show();
         $('.mobile-nav-container').animate({'left':'-=10%'}, 200)
         .animate({'left':'+=110%'}, 100);
      });

      // Docs at http://simpleweatherjs.com
      $(document).ready(function() {
        $.simpleWeather({
          location: '',
          woeid: '2497283',
          unit: 'f',
          success: function(weather) {
            html = '<p>'+weather.temp+'&deg;'+weather.units.temp+ ' <i class="wi wi-yahoo-'+weather.code+'"></i></p>';

            $("#weather").html(html);
          },
          error: function(error) {
            $("#weather").html('<p>'+error+'</p>');
          }
        });
      });
   </script>
</body>
</html>