<!DOCTYPE html>
<html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
   <!-- Javascripts -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/owl.carousel.js"></script>
   <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/parallax.js"></script>
   <script src="/presents/<%= presentation_for(@webpage) -%>/designs/javascripts/jquery.simpleWeather.min.js"></script>

   <!-- Stylesheets -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   
   <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage) -%>/designs/<%= design_for(@webpage) -%>/<%= campaign_for(@webpage) -%>/stylesheets/layout.css">
   <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage)%>/designs/stylesheets/owl.carousel.css" type="text/css" />
   <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage)%>/designs/stylesheets/owl.theme.default.css" type="text/css" />

   <!-- Weather Icons -->
   <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage)%>/designs/stylesheets/weather-icons-wind.css" type="text/css" />
   <link rel="stylesheet" href="/presents/<%= presentation_for(@webpage)%>/designs/stylesheets/weather-icons.css" type="text/css" />

   <meta name="description" content="<%= @webpage.meta_des %>">
   
   <% if @webpage.file_path == "/" || @webpage.file_path == "/directory/dining" %>
      <title><%= @website.name %> <%#= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>
   <% elsif @webpage.file_path == "/directory/dining/view" || @webpage.file_path == "/directory/view" %>
      <title><%= yield(:title) %> <% if !@webpage.meta_key.blank? %> <%= @webpage.meta_key %><% end %></title>
   <% else %>
      <title><%= @website.name %> | <%= page_title %> <% if !@webpage.meta_key.blank? %> | <%= @webpage.meta_key %><% end %></title>
   <% end %>
      
   <!-- google analytics code for website -->
   <% if !@website.web_analytics_id.blank? %>
      <script>

         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
         ga('create', '<%= @website.web_analytics_id %>', 'auto');
         ga('send', 'pageview');
         
      </script>
   <% end %>

   <title>Spanish Fort</title>
</head>
<body>