
      <div class="container head">
         <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4">
               <a href="index.html"><img src="images/logo.png" class="img-responsive"></a>
            </div>
            <div class="col-sm-4 col-md-8 hidden-xs">
               <div class="address text-right">
                  <i class="fa fa-map-marker"></i> <a href="">30000 Town Center Avenue Spanish Fort, AL 36527</a> <span class="vert-div">|</span> <i class="fa fa-facebook-official"></i>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid mobi-nav visible-xs">
         <div class="container">
            <div class="row">
               <div class="full-nav">full site menu <i class="fa fa-angle-down"></i></div>
               <ul class="site-nav">
                  <li class="first"><a href="index.html" class="active">Home</a></li>
                  <li><a href="directory.html">Directory</a></li>
                  <li><a href="">Directions</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">Town Center Park</a></li>
                  <li><a href="">Trends</a></li>
                  <li><a href="">Leasing</a></li>
                  <li class="last"><a href="#"><span class="info">Info</span></a></li>
               </ul>
            </div>
         </div>
      </div>

      <div class="container-fluid nav hidden-xs hidden-sm">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <ul>
                     <li><a href="index.html" class="active">Home</a></li>
                     <li><a href="directory.html">Directory</a></li>
                     <li><a href="">Directions</a></li>
                     <li><a href="">News</a></li>
                     <li><a href="">Town Center Park</a></li>
                     <li><a href="">Trends</a></li>
                     <li><a href="">Leasing</a></li>
                     <li><a href="#"><span class="info">Info</span></a>
                        <ul class="sub-nav">
                           <li><a href="">About Us</a></li>
                           <li><a href="">Contact Us</a></li>
                           <li><a href="">Code of Conduct</a></li>
                           <li class="last"><a href="">Press Room</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>

      <div class="container-fluid nav visible-sm">
         <div class="row">
            <div class="col-sm-12 text-center">
               <ul>
                  <li><a href="index.html" class="active">Home</a></li>
                  <li><a href="directory.html">Directory</a></li>
                  <li><a href="">Directions</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">Town Center Park</a></li>
                  <li><a href="">Trends</a></li>
                  <li><a href="">Leasing</a></li>
                  <li><a href="#"><span class="info">Info</span></a>
                     <ul class="sub-nav">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Code of Conduct</a></li>
                        <li class="last"><a href="">Press Room</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </div>