

      <div class="container-fluid slider-container">
         <div class="customNav">
            <div class="next"><i class="fa fa-angle-right"></i></div>
            <div class="prev"><i class="fa fa-angle-left"></i></div>
         </div>
         <div class="blur-rt"></div>
         <div class="blur-lft"></div>
         <div class="owl-carousel" id="main-banner">
            <div class="item">
               <img src="images/slides/slide-1.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-2.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-3.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-4.jpg">
            </div>
            <div class="item">
               <img src="images/slides/slide-5.jpg">
            </div>
         </div>
      </div>

      <div class="container-fluid retailer-scroll hidden-xs hidden-sm">
         <div class="container text-center">
            <ul>
               <li><a href=""><img src="images/retailer-logos/basspro.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/fairways.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/jcpenny.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/kangarooz.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/kohls.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/lazyboy.png"></a></li>
               <li><a href=""><img src="images/retailer-logos/oishi.png"></a></li>
            </ul>
         </div>
      </div>

      <!-- Retailer scroll carousel -->
      <div class="container-fluid retailer-scroll visible-sm text-center">
         <div class="owl-carousel" id="homeScroll">
            <div class="item"><a href=""><img src="images/retailer-logos/basspro.png"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/fairways.png"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/jcpenny.png" class="down30"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/kangarooz.png"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/kohls.png" class="down40"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/lazyboy.png" class="down40"></a></div>
            <div class="item"><a href=""><img src="images/retailer-logos/oishi.png"></a></div>
         </div>
      </div>