<%= render "includes/_headertag" %>
   <div class="wrapper sub-page">
      <%= render "includes/alert" %>
      <%= render "includes/head" %>

      <div class="hidden-xs">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 masthead">
                  <img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/shop-header.jpg" class="img-responsive">
                  <div class="page-title">
                     <%= @webpage.page_title %>
                  </div>
               </div>
            </div>
         </div>

         <div class="container toggle-nav">
            <div class="row">
               <div class="col-sm-8">
                  <ul class="toggle">
                     <li class="show-map"><i class="fa fa-map"></i> view map</li>
                     <li class="show-list active"><i class="fa fa-list"></i>view list</li>
                  </ul>
               </div>
               <div class="col-sm-4">
                  <div class="accent2-btn"> <i class="fa fa-file-pdf-o"></i> print directory <i class="fa fa-angle-right"></i></div>
               </div>
            </div>
         </div>

         <div class="container list-view">
            <div class="row store-container">
               <div class="col-sm-3 store-logo">
                  <a href="details.html"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/retailer-logos/bass-pro.png" class="img-responsive"></a>
               </div>
               <div class="col-sm-6 store-details">
                  <div class="title">
                     <a href="details.html">Bass Pro Shops</a>
                  </div>
                  <div class="details">
                     An outdoor enthusiast's dream that is the size of nearly five football fields and a massive fish tank with real fish! The store features enough fishing gear to hook the most avid fisherman, plus boats, RVs, marine accessories, hunting equipment and clothing, backpacking ...
                  </div>
                  <div class="map-link">
                     <a href="#"><i class="fa fa-map-marker"></i> view on map</a>
                  </div>
               </div>
               <div class="col-sm-3 hours">
                  <div>
                     <p class="title"><i class="fa fa-phone"></i> Phone</p>
                     <p><a href="251-607-5900">(251) 607-5900</a></p>
                  </div>
                  <div>
                     <p class="title"><i class="fa fa-clock-o"></i> Hours</p>
                     <p>Mon-Sat 10am-9pm</p>
                     <p>Sun 11am-6pm</p>
                  </div>
               </div>
            </div>

            <div class="row store-container">
               <div class="col-sm-3 store-logo">
                  <a href="details.html"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/retailer-logos/brats.png" class="img-responsive"></a>
               </div>
               <div class="col-sm-6 store-details">
                  <div class="title">
                     <a href="details.html">Baldwin Regional Area Transit System</a>
                  </div>
                  <div class="details">
                     An outdoor enthusiast's dream that is the size of nearly five football fields and a massive fish tank with real fish! The store features enough fishing gear to hook the most avid fisherman, plus boats, RVs, marine accessories, hunting equipment and clothing, backpacking ...
                  </div>
                  <div class="map-link">
                     <a href="#"><i class="fa fa-map-marker"></i> view on map</a>
                  </div>
               </div>
               <div class="col-sm-3 hours">
                  <div>
                     <p class="title"><i class="fa fa-phone"></i> Phone</p>
                     <p><a href="251-607-5900">(251) 607-5900</a></p>
                  </div>
                  <div>
                     <p class="title"><i class="fa fa-clock-o"></i> Hours</p>
                     <p>Mon-Sat 10am-9pm</p>
                     <p>Sun 11am-6pm</p>
                  </div>
               </div>
            </div>
            
            <div class="row store-container">
               <div class="col-sm-3 store-logo">
                  <a href="details.html"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/retailer-logos/marriott.png" class="img-responsive"></a>
               </div>
               <div class="col-sm-6 store-details">
                  <div class="title">
                     <a href="details.html">The Courtyard by Marriott</a>
                  </div>
                  <div class="details">
                     An outdoor enthusiast's dream that is the size of nearly five football fields and a massive fish tank with real fish! The store features enough fishing gear to hook the most avid fisherman, plus boats, RVs, marine accessories, hunting equipment and clothing, backpacking ...
                  </div>
                  <div class="map-link">
                     <a href="#"><i class="fa fa-map-marker"></i> view on map</a>
                  </div>
               </div>
               <div class="col-sm-3 hours">
                  <div>
                     <p class="title"><i class="fa fa-phone"></i> Phone</p>
                     <p><a href="251-607-5900">(251) 607-5900</a></p>
                  </div>
                  <div>
                     <p class="title"><i class="fa fa-clock-o"></i> Hours</p>
                     <p>Mon-Sat 10am-9pm</p>
                     <p>Sun 11am-6pm</p>
                  </div>
               </div>
            </div>
            
            <div class="row store-container">
               <div class="col-sm-3 store-logo">
                  <a href="details.html">direct furniture</a>
               </div>
               <div class="col-sm-6 store-details">
                  <div class="coming-soon">coming soon</div>
                  <div class="title">
                     <a href="details.html">Direct Furniture</a>
                  </div>
                  <div class="details">
                     An outdoor enthusiast's dream that is the size of nearly five football fields and a massive fish tank with real fish! The store features enough fishing gear to hook the most avid fisherman, plus boats, RVs, marine accessories, hunting equipment and clothing, backpacking ...
                  </div>
                  <div class="map-link">
                     <a href="#"><i class="fa fa-map-marker"></i> view on map</a>
                  </div>
               </div>
               <div class="col-sm-3 hours">
                  <div>
                     <p class="title"><i class="fa fa-phone"></i> Phone</p>
                     <p><a href="251-607-5900">(251) 607-5900</a></p>
                  </div>
                  <div>
                     <p class="title"><i class="fa fa-clock-o"></i> Hours</p>
                     <p>Mon-Sat 10am-9pm</p>
                     <p>Sun 11am-6pm</p>
                  </div>
               </div>
            </div>
            
            <div class="row store-container">
               <div class="col-sm-3 store-logo">
                  <a href="details.html"><img src="/presents/<%= presentation_for(@webpage) -%>/designs/images/retailer-logos/fairfield.png" class="img-responsive"></a>
               </div>
               <div class="col-sm-6 store-details">
                  <div class="title">
                     <a href="details.html">Fairfield Inn &amp; Suites by Marriott</a>
                  </div>
                  <div class="details">
                     An outdoor enthusiast's dream that is the size of nearly five football fields and a massive fish tank with real fish! The store features enough fishing gear to hook the most avid fisherman, plus boats, RVs, marine accessories, hunting equipment and clothing, backpacking ...
                  </div>
                  <div class="map-link">
                     <a href="#"><i class="fa fa-map-marker"></i> view on map</a>
                  </div>
               </div>
               <div class="col-sm-3 hours">
                  <div>
                     <p class="title"><i class="fa fa-phone"></i> Phone</p>
                     <p><a href="251-607-5900">(251) 607-5900</a></p>
                  </div>
                  <div>
                     <p class="title"><i class="fa fa-clock-o"></i> Hours</p>
                     <p>Mon-Sat 10am-9pm</p>
                     <p>Sun 11am-6pm</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="container map-view">
            this is the map view
         </div>
      </div>

      <!-- Mobile Only -->
      <div class="visible-xs mobi-only">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 text-center">
                  <div class="page-title">
                     Directory
                  </div>
               </div>
            </div>
         </div>

         <div class="container">
            <div class="row retailers">
               <div class="col-xs-9">
                  <div class="retailer">
                     <a href="#">Bass Pro Shops</a>
                  </div>
               </div>
               <div class="col-xs-3">
                  <a href="#"><i class="fa fa-phone"></i></a> <span class="pipe">|</span> <a href="#"><i class="fa fa-map-marker"></i></a>
               </div>
            </div>
            <div class="row retailers">
               <div class="col-xs-9">
                  <div class="retailer">
                     <a href="#">Baldwin Regional Area Tr...</a>
                  </div>
               </div>
               <div class="col-xs-3">
                  <a href="#"><i class="fa fa-phone"></i></a> <span class="pipe">|</span> <a href="#"><i class="fa fa-map-marker"></i></a>
               </div>
            </div>
            <div class="row retailers">
               <div class="coming-soon">coming soon</div>
               <div class="col-xs-9">
                  <div class="retailer">
                     <a href="#">Direct Furniture</a>
                  </div>
               </div>
               <div class="col-xs-3">
                  <a href="#"><i class="fa fa-phone"></i></a> <span class="pipe">|</span> <a href="#"><i class="fa fa-map-marker"></i></a>
               </div>
            </div>
         </div>
      </div>
      <%= render "includes/footer" %>
   </div>
<%= render "includes/footertag" %>