<%#= render "includes/_headertag" %>
   <div class="wrapper">
      <%= render "includes/alert" %>

      <%= yield %>

      <%= render "includes/footer" %>
   </div>
<%= render "includes/footertag" %>