// ============= Fonts =============== \\
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat:400,700');

@accent-color: #c3d941;
@accent2-color: #008da3;
@accent3-color: #006171;

@font-mont: 'Montserrat';
@font-lato: 'Lato';

body{
   font-family: @font-lato;
}
.wrapper{
   position: relative;
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.sm-alert-container{
   background: @accent-color;
   padding:15px 0 1px 0;
   @media(max-width:991px){
      padding-bottom: 20px;
   }
   .sm-alert-img{
      width: 40px;
      float: left;
   }
   .sm-closed{
      position: relative;
      color: #FFF;
      font-family: @font-mont;
      text-transform: uppercase;
      font-size: 1.3em;
      left: 25px;
      top: 8px;
      float: left;
   }
   .sm-closed-ex{
      position: relative;
      color:#5c584f;
      font-family: @font-lato;
      font-size: 1.3em;
      margin-left: 30px;
      top: 8px;
      float: left;
   }
   .sm-close-alert{
      position: relative;
      top: -10px;
      float: right;
      font-size: 36px;
      //color: @accent-color;
      color: #000;
      opacity: .3;
      &:hover{
         opacity: .4;
         cursor:pointer;
      }
   }
}
.head{
   padding: 20px 0;
   .address{
      padding:20px 0;
      font-size: 18px;
      font-weight: 300;
      @media(min-width:768px) and (max-width:991px){
         padding:10px 0;
      }
      .vert-div{
         padding:0 10px;
      }
      a{
         color: #5c584f;
         text-decoration:none;
      }
      color: #5c584f;
      .fa{
         color: @accent2-color;
      }
   }
}

.mobi-nav{
   height: auto;
   width: 100%;
   background: #dedad0;
   color: @accent2-color;
   text-transform: uppercase;
   text-align: center;
   font-size: 18px;
   padding-top: 15px;
   .fa{
      margin-left: 10px;
   }
   .full-nav{
      padding-bottom: 15px;
   }
   .site-nav{
      list-style: none;
      padding:0;
      display: none;
      li{
         padding:10px 0;
         border-bottom: 1px solid #FFF;
         a{
            color: @accent2-color;
         }
      }
      .first{
         border-top: 1px solid #FFF;
      }
      .last{
         border:none;
      }
   }
}

.nav{
   position: relative;
   background: url(../images/main-nav-bg.png);
   padding: 15px 10px 5px 0px;
   z-index: 999 !important;
   ul{
      padding:0;
      list-style: none;
      li{
         display: inline-block;
         margin-left: 30px;
         @media(min-width:992px) and (max-width:1199px){
            margin-left: 10px;
         }
         @media(max-width:991px){
            margin-left: 0px;
         }
         &:hover{
            .sub-nav{
               display: block;
            }
         }
         .active{
            border:1px solid @accent2-color;
         }
         a{
            color: @accent2-color;
            border: 1px solid #dedad0;
            font-size: 17px;
            letter-spacing: .005em;
            text-transform: uppercase;
            text-decoration: none;
            padding:10px;
            &:hover{
               border:1px solid @accent2-color;
            }
            @media(max-width:991px){
               font-size: 14px;
            }
            .info{
               position: relative;
               &:after{
                  content:"\f0d7";
                  position: relative;
                  font-family: FontAwesome;
                  top: -1px;
                  right: -5px;
               }
            }
         }
         .sub-nav{
            position: absolute;
            top: 33px;
            margin-left: -10px;
            padding:10px;
            list-style: none;
            display: none;
            background: #dedad0;
            padding:10px;
            @media(min-width:768px) and (max-width:1199px){
               margin-left: -75px;
               top: 28px;
            }
            li{
               display: block;
               margin-left: -5px;
               padding: 10px 0;
               border-bottom: 1px solid #8f897b;
            }
            a{
               border:none;
               font-size: 14px;
            }
            .last{
               border:none;
            }
         }
      }
   }
}

.slider-container{
   padding-left: 0;
   padding-right: 0;
   height: auto;
   z-index: 4;
   position: relative;
   .home-slider-text-container{
      position: absolute;
      top: 50px;
      left: 50px;
      z-index: 99 !important;
      width: 45%;
      .head-text{
         font-size: 50px;
         line-height: 45px;
         color: #FFF;
         font-family: @font-mont;
         letter-spacing: 0.005em;
         font-weight: 700;
         text-transform: uppercase;
         height: auto;
      }
      .sm-text{
         font-size: 17px;
         line-height: 25px;
         font-family: @font-lato;
         color: #FFF;
         font-weight: 300;
         padding-top: 10px;
      }
   }
   .blur-rt{
      position: absolute;
      height: 100%;
      width: 200px;
      background: url(../images/blur-bg.png) repeat;
      left: 0;
      z-index: 6 !important;
      @media(max-width:992px){
         display: none;
      }
   }
   .blur-lft{
      position: absolute;
      height: 100%;
      width: 200px;
      background: url(../images/blur-bg.png) repeat;
      right: 0;
      z-index: 6 !important;
      @media(max-width:992px){
         display: none;
      }
   }
   #main-banner{
      position: relative;
      z-index: 5 !important;
      img{
         width: 120%;
      }
      .owl-item:not(.center){
         filter:blur(3px);
      }
   }
   .prev{
      position: absolute;
      width: 60px;
      float: left;
      left:100px;
      top: 50%;
      margin-top: -60px;
      font-size: 60px;
      color: #FFF;
      border: none !important;
      z-index: 20 !important;
      opacity: 0;
      &:hover{
         cursor: pointer;
      }
      @media(max-width:767px){
         display: none;
      }
      @media(min-width:768px) and (max-width:991px){
         left: -55px;
      }
   }
   .next{
      position: absolute;
      width: 60px;
      float: right;
      right:60px;
      top: 50%;
      margin-top: -60px;
      font-size: 60px;
      color: #FFF;
      border: none !important;
      z-index: 20 !important;
      opacity: 0;
      &:hover{
         cursor: pointer;
      }
      @media(max-width:767px){
         display: none;
      }
      @media(min-width:768px) and (max-width:850px){
         right: -90px;
      }
   }
   .owl-dots{
      position: relative;
      bottom: -35px;
      z-index: 20 !important;
      height: 20px;
      width: auto;
      text-align: center;
      opacity: 0;
      @media(max-width:767px){
         display: none;
      }
      .owl-dot{
         height: 13px;
         width: 13px;
         border:1px solid #FFF;
         background-color: transparent;
         display: inline-block;
         margin-right: 10px;
         &:hover{
            background: #FFF;
         }
      }
      .active{
         background-color: #FFF;
      }
   }
}

.retailer-scroll{
   height: auto;
   width: auto;
   background: #FFF;
   position: relative;
   padding: 40px 0 0px 0;
   top: -20px;
   z-index: 5;
   ul{
      list-style: none;
      padding:0;
      li{
         position: relative;
         display: inline-block;
         padding:0 5px;
         @media(min-width:992px) and (max-width:1199px){
            padding:0px;
            left: -10px;
         }
         img{
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            transition: .5s;
            width: 80%;
            &:hover{
               -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
               filter: grayscale(0%);
               transition: .5s;
            }
         }
      }
   }
   .owl-item{
      padding: 0 20px;
      img{
         //width: 90% !important;
         -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
         filter: grayscale(100%);
         transition: .5s;
         &:hover{
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
            transition: .5s;
         }
      }
   }
}

.news-center{
   background: #f7f7f5;
   padding-top: 20px;
   padding-bottom: 75px;
   .container{
      @media(min-width:992px){
         //padding:0 65px;
      }
   }
   .notice-row{
      background: #e0dfdc;
      text-transform: uppercase;
      .img{
         padding:0;
         &:after{
            content: url(../images/triangle.png);
            position: absolute;
            top: 25%;
            right: -20px;
            @media(max-width:767px){
               content:'';
            }
         }
      }
      .notice{
         padding-left: 50px;
         @media(max-width:767px){
            padding-left: 5px;
         }
         h2{
            color: @accent2-color;
            font-family: @font-mont;
            font-size: 36px;
            font-weight: 700;
            width: 80%;
            letter-spacing: 0.005em;
            line-height: 35px;
            @media(min-width:768px) and (max-width:991px){
               width: 99%;
            }
            @media(max-width:767px){
               width: 100%;
               font-size: 18px;
               line-height: 20px;
            }
         }
         p{
            font-family: @font-lato;
            a{
               color: #8f897b;
               font-size: 18px;
               text-decoration: none;
               @media(max-width:767px){
                  width: 100%;
                  font-size: 14px;
                  line-height: 20px;
               }
               .fa{
                  color: @accent2-color;
                  margin-left: 5px;
               }
            }
         }
      }
   }
   .news-row{
      padding-top: 15px;
      .section-head{
         h1{
            color: @accent-color;
            text-transform: uppercase;
            font-family: @font-mont;
            font-size: 44px;
            letter-spacing: -2px;
            @media(max-width:767px){
               font-size: 38px;
               text-align: center;
            }
         }
      }
      .weather{
         color: #8f897b;
         font-size: 12px;
         font-weight: 700;
         text-transform: uppercase;
         padding-top: 15px;
         @media(max-width:767px){
            text-align: left !important;
         }
         #weather{
            p{
               font-size: 30px;
               color: #8f897b;
               //font-weight: 300;
               .wi{
                  position: absolute;
                  top: 40px;
                  right: 90px;
                  color: @accent-color;
                  font-size: 40px;
                  @media(min-width:768px) and (max-width:991px){
                     margin-left: -150px;
                  }
                  @media(max-width:767px){
                     right: 10px;
                  }
               }
            }
         }
      }
      .blue-btn{
         position: relative;
         top: 30px;
         border:none;
         background: @accent2-color;
         color: #FFF;
         font-size: 16px;
         text-transform: uppercase;
         padding: 5px 15px;
         .fa{
            margin-left: 5px;
         }
         @media(max-width:767px){
            font-size: 14px;
            top: 20px;
         }
      }
   }
   .anno{
      padding-top: 50px;
      @media(min-width:768px) and (max-width:991px){
         padding-top: 20px;
      }
      @media(max-width:767px){
         padding-top: 30px;
      }
      .category{
         color: #8f897b;
         font-size: 12px;
         letter-spacing: 0.05em;
         font-family: @font-mont;
         text-transform: uppercase;
         padding-bottom: 10px;
         @media(min-width:768px) and (max-width:991px){
            padding-top: 20px;
         }
         @media(max-width:767px){
            padding-top: 30px;
         }
         .fa{
            padding-right: 3px;
            color: @accent-color;
         }
      }
      .title{
         font-size: 18px;
         color: @accent2-color;
         font-family: @font-mont;
         font-weight: 700;
         line-height: 20px;
         height: 50px;
      }
      .date{
         color: #5c584f;
         font-family: @font-lato;
         font-weight: 700;
         font-size: 16px;
         padding-top: 3px;
      }
      .details{
         font-family:@font-lato;
         font-size: 16px;
         line-height: 18px;
         font-weight: 300;
         padding-top: 20px;
         padding-bottom: 10px;
         color: #8f897b;
      }
      .details-link{
         font-family: @font-lato;
         font-size: 12px;
         letter-spacing: 0.025em;
         color: #77787a;
         text-transform: uppercase;
         .fa{
            color: @accent2-color;
         }
      }
   }
}

.footer-container{
   background: #e0dfdc;
   padding: 35px 0 50px 0;
   @media(max-width:767px){
      padding:35px 0 0 0;
   }
   .email-icon{
      position:relative;
      height: 50px;
      width: 50px;
      background: #008da3;
      color: #FFF;
      text-align: center;
      font-size: 30px;
      float: left;
      @media(max-width:767px){
         float: left;
         margin-left: -25px;
         left: 50%;
      }
      .fa{
         position: relative;
         top: 2px;
         z-index: 5 !important;
      }
      .tri{
         position:absolute;
         transform:rotate(180deg);
         width: 20px;
         top: 10px;
         @media(max-width:767px){
            transform:rotate(-90deg);
            top: 37px;
            left: 15px;
         }
      }
   }
   .email-text{
      position: relative;
      color: #5c584f;
      font-size: 18px;
      line-height: 24px;
      font-family: @font-lato;
      max-width: 400px;
      margin-left: 75px;
      @media(max-width:767px){
         max-width: 100%;
         width: 100%;
         margin-left: 0;
         margin-top: 20px;
         padding-bottom: 10px;
      }
   }
   .white-divider{
      margin-top: 35px;
      margin-bottom: 50px;
      @media(max-width:767px){
         margin-bottom: 0;
      }
   }
   .fb-link{
      a{
         color: @accent2-color;
         font-size: 44px;
      }
   }
   .footer-nav{
      ul{
         padding:0;
         list-style: none;
         li{
            display: inline-block;
            margin-left: 30px;
            @media(min-width:992px) and (max-width:1199px){
               margin-left: 10px;
            }
            @media(max-width:991px){
               margin-left: 0px;
            }
            &:hover{
               .sub-nav{
                  display: block;
               }
            }
            a{
               color: @accent2-color;
               font-size: 17px;
               letter-spacing: .005em;
               text-transform: uppercase;
               text-decoration: none;
               padding:10px;
               @media(max-width:991px){
                  font-size: 14px;
               }
            }
         }
      }
   }
   .mobi-footer-nav{
      height: auto;
      width: 100%;
      color: @accent2-color;
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      .fa{
         margin-left: 10px;
      }
      .full-nav{
         padding-bottom: 15px;
      }
      .footer-site-nav{
         list-style: none;
         padding:0;
         //display: none;
         li{
            padding:10px 0;
            border-bottom: 1px solid #FFF;
            a{
               color: @accent2-color;
            }
         }
         .last{
            border:none;
         }
      }
   }
   .ft-address{
      font-size: 16px;
      a{
         color: #5c584f;
         font-family: @font-lato;
      }
         .fa{
            color: @accent2-color;
         }
   }
}

.sticky-footer{
   position: fixed;
   bottom: 0;
   left: 0;
   height: 85px;
   width: 100%;
   border-top:2px solid #e0dfdc;
   background: #FFF;
   padding-top: 5px;
   .icon-container{
      float: left;
      text-align: center;
      width: 25%;
      a{
         color: @accent2-color;
         text-decoration: none;
      }
      .icon{
         font-size: 40px;
      }
      .icon-link{
         text-transform: uppercase;
         font-size: 11px;
         font-family: @font-mont;
         font-weight: 300;
      }
   }
}
.copy-container{
   background: #FFF;
   .footer-logo{
      padding-top: 25px;
      font-size: 12px;
      color: #8f897b;
      @media(max-width:767px){
         margin-bottom: 80px;
      }
   }
}

.slide-nav{
   position: fixed;
   top: 0;
   left: 100%;
   height: 100%;
   width: 100%;
   background: #e0dfdc;
   z-index: 9999 !important;
   a{
      color: @accent2-color;
      font-family: @font-lato;
      font-size: 18px;
   }

   .head{
      height: 75px;
      width: 100%;
      border-bottom: 2px solid @accent-color;
      background: #FFF;
      padding:10px 0;
      .fa{
         font-size: 36px;
         margin: 7px 5px 0 0;
      }
   }

   ul{
      list-style: none;
      padding:0;
      li{
         display: block;
         padding: 10px 25px;
         border-bottom: 1px solid #8f897b;
      }
      .last{
         border:none;
      }
   }
}

// ================== Directory Page ============ \\
.sub-page{
   background: #f7f7f5;
   .masthead{
      position: relative;
      .page-title{
         position: absolute;
         top: 55px;
         left: 75px;
         font-family: @font-mont;
         font-size: 60px;
         color: #FFF;
         font-weight: 700;
         text-transform: uppercase;
         @media(min-width:992px) and (max-width:1199px){
            top: 30px;
            font-size: 56px;
         }
         @media(min-width:768px) and (max-width:991px){
            top: 20px;
            font-size: 50px;
         }
      }
   }
   .toggle-nav{
      border-bottom: 1px solid @accent-color;
      .toggle{
         color: @accent2-color;
         font-size: 20px;
         font-family: @font-lato;
         text-transform: uppercase;
         list-style: none;
         font-weight: 100;
         padding: 15px 0 0 0;
         margin-bottom: 0;
         li{
            display: inline-block;
            margin-left: 30px;
            padding:0 7px 10px 7px;
            &:first-child{
               left: -15px;
            }
            &:hover{
               cursor: pointer;
            }
         }
         .fa{
            padding-right: 10px;
         }
         .active{
            border-bottom: 5px solid @accent-color;
         }
      }
      .accent2-btn{
         color: #FFF;
         font-size: 16px;
         width: 200px;
         height: auto;
         padding:5px;
         text-align: center;
         text-transform: uppercase;
         float: right;
         margin-right: 10px;
         margin-top: 13px;
         .fa{
            padding: 0 5px;
         }
         a{
            color: #FFF;
            text-decoration: none;
         }
      }
   }
   
   .section-head{
      padding-top: 20px;
      h1{
         color: @accent-color;
         text-transform: uppercase;
         font-family: @font-mont;
         font-size: 44px;
         letter-spacing: -2px;
         @media(max-width:767px){
            font-size: 38px;
            text-align: center;
         }
      }
   }
   .mobi-select{
      position:relative;
      height: 40px;
      width: 95%;
      border:1px solid #dedad0;
      margin: 0 auto;
      top: 25px;
      z-index: 20 !important;
      .cat-view{
         color: @accent2-color;
         font-size: 20px;
         text-transform: uppercase;
         font-weight: 100;
         letter-spacing: 0.007em;
         padding:5px 10px 0 15px;
         .fa{
            float: right;
            font-size: 26px;
         }
      }
      .mobi-toggle{
         position: relative;
         width: 100.5%;
         left: -1px;
         top: 5px;
         background: #dedad0;
         list-style: none;
         padding-left:15px;
         display: none;
         li{
            height: 50px;
            border-bottom:1px solid #FFF;
            padding-top: 13px;
            font-size: 18px;
            text-transform: uppercase;
            color: @accent2-color;
         }
      }
   }
   .categories{
      margin-bottom: 50px;
      margin-top: 40px;
      .category{
         color: #8f897b;
         font-size: 12px;
         letter-spacing: 0.05em;
         font-family: @font-mont;
         text-transform: uppercase;
         padding-bottom: 10px;
         @media(min-width:768px) and (max-width:991px){
            padding-top: 20px;
         }
         @media(max-width:767px){
            padding-top: 30px;
         }
         .fa{
            padding-right: 3px;
            color: @accent-color;
         }
      }
      .title{
         font-size: 18px;
         color: @accent3-color;
         font-family: @font-mont;
         font-weight: 700;
         line-height: 20px;
         height: 50px;
      }
      .date{
         color: #5c584f;
         font-family: @font-lato;
         font-weight: 700;
         font-size: 16px;
         @media(min-width:992px) and (max-width:1199px){
            margin-top: 10px;
         }
      }
      .details{
         font-family:@font-lato;
         font-size: 16px;
         line-height: 18px;
         font-weight: 300;
         padding-top: 20px;
         padding-bottom: 10px;
         color: #8f897b;
      }
      .details-link{
         font-family: @font-lato;
         font-size: 12px;
         letter-spacing: 0.025em;
         color: #77787a;
         text-transform: uppercase;
         .fa{
            color: @accent2-color;
         }
      }
      .img-holder{
         background: #FFF;
         height: 250px;
         width: 250px;
         padding: 10px;
         overflow: hidden;
         border-bottom: 10px solid #FFF;
         float: left;
         margin-right: 35px;
         position: relative;
         z-index: 9 !important;
         img{
            width: 100%;
         }
         @media(min-width:768px) and (max-width:991px){
            margin-bottom: 25px;
         }
         @media(max-width:767px){
            display: none;
         }
      }
      .desc{
         position: relative;
         &:before{
            content:url(../images/white-triangle.png);
            position: absolute;
            top: 5px;
            left: 220px;
            transform:rotate(180deg);
            z-index: 5 !important;
            @media(max-width:767px){
               display: none;
            }
         }
      }
      .events{
         display: none;
      }
      .deals{
         display: none;
      }
      .jobs{
         display: none;
      }
      .announcements{
         display: none;
      }
   }

   .list-view{
      .store-container{
         background: #FFF;
         margin-bottom: 10px;
         padding:35px 0;
         &:last-child{
            margin-bottom: 50px;
            border-bottom: 1px solid #e0dfdc;
         }
         .store-logo{
            padding-left: 35px;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            transition: .5s;
            font-family: @font-mont;
            font-size: 28px;
            line-height: 28px;
            text-transform: uppercase;
            text-align: center;
            color: @accent-color;
            a{
               text-decoration: none;
               color: @accent-color;
            }
            img{
               display: block;
               margin: 0 auto;
            }
            &:hover{
               -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
               filter: grayscale(0%);
               transition: .5s;
            }
            @media(max-width:991px){
               padding-left: 15px;
            }
         }
         .store-details{
            .title{
               color: @accent3-color;
               font-family: @font-mont;
               font-size: 20px;
               font-weight: 700;
               padding-bottom: 5px;
            }
            .details{
               color: #5c584f;
               font-size: 16px;
               line-height: 20px;
               font-family: @font-lato;
               padding-bottom: 15px;
            }
            .map-link{
               color: @accent3-color;
               font-family: @font-lato;
               font-size: 16px;
            }
            a{
               color: @accent3-color;
               text-decoration: none;
            }
            .coming-soon{
               height: auto;
               width: 150px;
               padding:3px 0;
               background: @accent-color;
               color: #000;
               font-family: @font-lato;
               font-size: 18px;
               letter-spacing: 0.005em;
               text-transform: uppercase;
               text-align: center;
               margin-bottom: 10px;
            }
         }

         .hours{
            font-family: @font-lato;
            font-size: 16px;
            color: #5c584f;
            .fa{
               padding-right: 5px;
            }
            div{
               padding-bottom: 20px;
               p{
                  height: 10px;
               }
               .title{
                  font-weight: 700;
               }
               a{
                  color: #5c584f;
                  text-decoration: none;
               }
            }
         }
      }
   }
   .map-view{
      position: relative;
      //width: 855px;
      height: auto;
      display: none;

      
      #map {
        height: 800px;
        width: 100%;
        @media(min-width:768px) and (max-width:991px){
         height: 600px;
         width: 100%;
        }
      }
   }
   .suite-class[data-title]:hover:after {
     content: attr(data-title);
     padding: 4px 8px;
     color: #333;
     position: absolute;
     left: 0;
     top: 100%;
     white-space: nowrap;
     z-index: 20px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border-radius: 5px;
     -moz-box-shadow: 0px 0px 4px #222;
     -webkit-box-shadow: 0px 0px 4px #222;
     box-shadow: 0px 0px 4px #222;
     background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
     background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
     background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
     background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
     background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
     background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
   }

   .tooltip {
      display:none;
      position:absolute;
      border:1px solid #333;
      background-color:#161616;
      border-radius:5px;
      padding:10px;
      color:#fff;
      font-size:12px Arial;
      z-index: 1099 !important;
   }

   .mobi-only{
      background: #f7f7f5;
      .page-title{
         color: @accent-color;
         font-size: 40px;
         font-family: @font-mont;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 0.005em;
      }
      .retailers{
         border-top: 1px solid #8f897b;
         padding: 10px 0;
         a{
            color: @accent3-color;
            font-size: 18px;
            .fa{
               font-size: 18px;
               &:first-child{
                  margin-right: 3px;
               }
               &:last-child{
                  margin-left: 3px;
               }
            }
         }
         .pipe{
            font-size: 25px;
            color: #c2baa7;
         }
         .retailer{
            margin-top: 7px;
         }
         .coming-soon{
            height: auto;
            width: 130px;
            padding:3px 0;
            background: @accent-color;
            color: #000;
            font-family: @font-lato;
            font-size: 16px;
            letter-spacing: 0.005em;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 7px;
            margin-left: 15px;
         }
      }
   }
}
/*map button for mobile*/
.map-button{
   width: 100%;
   background: #000;
   border-radius: 0px;
   border:none;
   color: #FFF;
   font-size: 14px;
   text-transform: uppercase;
   padding: 10px 30px 10px 10px;
   margin-top:30px;
   i{
      font-size: 22px;
      padding-right: 10px;
   }
   &:hover{
      color:#f0f0f0;
      i{
         color:#f0f0f0;
      }
   }
}
/*end of map button for mobile*/
.map-container{
   padding-bottom: 50px;
   .heading{
      text-transform: uppercase;
      font-size: 24px;
   }
   #map{
      height: 500px;
      width: 100%;
   }
}
.detail-page{
   background: #f7f7f5;
   .back-head{
      padding:25px 0 10px 0;
      border-bottom: 1px solid #e0dfdc;
      margin-bottom: 25px;
      a{
         color: @accent2-color;
         font-size: 18px;
         text-decoration: none;
      }
      .fa{
         padding-right: 5px;
      }
   }

   .store-logo{
      @media(min-width:1200px){
         padding-left: 30px;
      }
   }

   .store-details{
      font-family: @font-lato;
      font-size: 16px;
      color: #5c584f;
      margin-top: 60px;
      @media(min-width:1200px){
         padding-left: 30px;
      }
      .fa{
         padding-right: 5px;
      }
      div{
         padding-bottom: 20px;
         p{
            height: 10px;
         }
         .title{
            font-weight: 700;
         }
         a{
            color: #5c584f;
            text-decoration: none;
         }
         .a-link{
            padding-top: 20px;
            color: @accent2-color;
            a{
               color: @accent2-color;
            }
         }
      }
      .social{
         padding-top: 20px;
         .title{
            .fa{
               color: #5c584f;
               font-size: 16px;
            }
         }
         ul{
            list-style: none;
            padding:0;
            li{
               display: inline-block;
            }
         }
         .fa{
            margin-top: -10px;
            font-size: 32px;
            color: @accent2-color;
         }
      }
   }

   .notice-center{
      .notice{
         border-top: 1px solid #c2baa7;
         padding-top: 20px;
         margin-bottom: 20px;
         .category{
            color: #8f897b;
            font-size: 12px;
            letter-spacing: 0.05em;
            font-family: @font-mont;
            text-transform: uppercase;
            padding-bottom: 10px;
            @media(min-width:768px) and (max-width:991px){
               padding-top: 20px;
            }
            @media(max-width:767px){
               padding-top: 30px;
            }
            .fa{
               padding-right: 3px;
               color: @accent-color;
            }
         }
         .title{
            font-size: 18px;
            color: @accent3-color;
            font-family: @font-mont;
            font-weight: 700;
            line-height: 20px;
            height: 50px;
         }
         .date{
            color: #5c584f;
            font-family: @font-lato;
            font-weight: 700;
            font-size: 16px;
            padding-top: 3px;
         }
         .details{
            font-family:@font-lato;
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            padding-top: 20px;
            padding-bottom: 10px;
            color: #8f897b;
         }
         .details-link{
            font-family: @font-lato;
            font-size: 12px;
            letter-spacing: 0.025em;
            color: #77787a;
            text-transform: uppercase;
            .fa{
               color: @accent2-color;
            }
         }
      }
   }

   .news-details{
      .category{
         color: #8f897b;
         font-size: 18px;
         letter-spacing: 0.05em;
         font-family: @font-mont;
         text-transform: uppercase;
         padding-bottom: 10px;
         @media(min-width:768px) and (max-width:991px){
            padding-top: 20px;
         }
         @media(max-width:767px){
            padding-top: 30px;
         }
         .fa{
            padding-right: 3px;
            color: @accent-color;
         }
      }
      .retailer-name{
         color: #5c584f;
         font-family: @font-mont;
         font-size: 40px;
         font-weight: 700;
         text-transform: uppercase;
      }
      .date{
         color: #5c584f;
         font-family: @font-lato;
         font-weight: 700;
         font-size: 16px;
         padding-top: 3px;
      }
      .details{
         font-family:@font-lato;
         font-size: 16px;
         line-height: 18px;
         font-weight: 300;
         padding-top: 20px;
         padding-bottom: 10px;
         color: #8f897b;
         margin-bottom: 20px;
         padding-bottom: 50px;
         border-bottom: 1px solid #e0dfdc;
      }
      .social{
         ul{
            list-style: none;
            padding:0;
            li{
               display: inline-block;
               margin-left: 30px;
               text-transform: uppercase;
               font-size: 12px;
               font-family: @font-lato;
               a{
                  color: @accent2-color;
                  text-decoration: none;
               }
               img{
                  position: relative;
                  top: -2px;
                  margin-right: 3px;
               }
            }
            .last{
               float: right;
            }
            .first{
               margin-left: 0;
            }
            .fa{
               font-size: 16px;
               margin-right: 5px;
            }
         }
      }
   }
   
   .retailer-info{
      .retailer-name{
         color: #5c584f;
         font-family: @font-mont;
         font-size: 40px;
         font-weight: 700;
      }
      .retailer-details{
         margin-top: 25px;
         color: #5c584f;
         font-family: @font-lato;
         font-size: 18px;
         line-height: 36px;
         @media(min-width:1200px){
            width: 70%;
         }
      }
      .retailer-notice{
         margin-top: 50px;
         height: auto;
         width: auto;
         position: relative;
         .section-title{
            color: #94a632;
            font-family: @font-mont;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 25px;
         }
         .notice-body{
            background: #FFF;
            padding:0;
            height: 271px;
            @media(min-width:1200px){
               width: 85%;
            }
            .col-sm-4{
               padding:0;
            }
            .notice-img{
               position: relative;
            }
            .notice-details{
               padding:30px;
               .retailer{
                  font-family: @font-mont;
                  font-size: 10px;
                  font-weight: 700px;
                  letter-spacing: 0.005em;
                  text-transform: uppercase;
                  color: #8f897b;
               }
               .title{
                  font-size: 24px;
                  color: @accent2-color;
                  font-family: @font-lato;
                  font-weight: 300;
               }
               .details{
                  position: relative;
                  color: #5c584f;
                  font-family: @font-lato;
                  font-size: 18px;
                  line-height: 24px;
                  font-weight: 300;
                  z-index: 9 !important;
                  margin-bottom: 20px;
               }
               .details-link{
                  font-family: @font-lato;
                  font-size: 12px;
                  letter-spacing: 0.025em;
                  color: #77787a;
                  text-transform: uppercase;
                  .fa{
                     color: @accent2-color;
                  }
               }

               &:before{
                  content:url(../images/white-triangle.png);
                  position: absolute;
                  margin-top:33%;
                  top: -82px;
                  left: -13px;
                  z-index: 5!important;
                  @media(max-width:767px){
                     content:'';
                  }
               }
            }
         }
      }
   }
   .retailer-map{
      position: relative;
      margin-top: 50px;
      .section-title{
         color: #94a632;
         font-family: @font-mont;
         font-size: 24px;
         font-weight: 700;
         text-transform: uppercase;
         padding-bottom: 25px;
      }
   }
}
/*start of maps buttons*/
.retailer_maps_wrapper{
   position: relative;
   .maps_buttons{
      position: absolute;
      top: 10px;
      left:15px;
      ul{
         list-style: none;
         padding: 0;
         li{
            list-style: none;
            display: inline-block;
            vertical-align: top;
            button, .btn, a.btn{
               background: #f5f5f5;
               border:1px solid #000;
               border-right: 0 none;
               font-size:10px;
               font-family: proxima-nova,Segoe,"Arial Nova",Helvetica !important;
               text-transform: uppercase;
               color: #878787;
               padding: 8px 20px;
               font-weight: 700;
            }
            &:last-child{
               button, .btn, a.btn{
                  border:1px solid #000;
               }
            }
            &.active, &:hover, &:active{
               button, .btn, a.btn{
                  background: #fff;
                  color: #000
               }
            }
         };
      }
   }
}
.map-button-wrapper .modal-dialog{
   top:0;
   @media (max-width:767px){
      height:100%;
      margin:0;
      .modal-content{
         height:100%;
      }
   }   
   .close{
      font-size:28px;
      color:#fff;
      opacity:1;
   }
   i{
      padding-right:10px;
   }
   .modal-body{
      padding:0;
      @media (max-width:767px){
         height:90%;
      }
   }
   #map{
      height:400px;
      @media (max-width:767px){
         height:100%;
      }
   }
   .modal-header{
      background:#000;
      color:#fff;
      @media (max-width:767px){
         height:10%;
         min-height:54px;
      }
   }
   .retailer_maps_wrapper {
      @media (max-width:767px){
         height:100%;
      }
      .maps_buttons{
         li{
            display:block;
            button,.btn,a.btn{
               min-width:120px;
               margin:0 0 10px;
               border:1px solid #000;
            }
         }
      }
   }
}
// ================== Buttons ============== \\
.accent2-btn{
   background: @accent2-color;
   &:hover{
      cursor: pointer;
   }
}
// ================= Random =============== \\
.down10{
   margin-top: 10px;
}
.down20{
   margin-top: 20px;
}
.down25{
   margin-top: 25px;
}
.down30{
   margin-top: 30px;
}
.down40{
   margin-top: 40px;
}
.down50{
   margin-top: 50px;
}

.white-divider{
   height: 1px;
   width: 100%;
   background: #FFF;
}
.no-pad{
   @media(max-width:767px){
      padding-left: 0 !important;
      padding-right: 0 !important;
   }
}
.last-btm{
   border:0 !important;
}
/* ==================== Map Settings ==================== */

/*styles for map tooltip*/
.tooltip-inner {
   -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:0 none;
  background: #fff;
  color: black;
  font-family: @font-lato;
  font-size: 14px;
  padding: 8px;
  pointer-events:none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  z-index: 9999999;   /*position: relative;*/
    /*z-index: 99999;*/
 
}

.tooltip.top .tooltip-arrow{ border-top-color: #fff;  } 
.tooltip.left .tooltip-arrow{ border-left-color: #fff; } 
.tooltip.bottom .tooltip-arrow{ border-bottom-color: #fff;  } 
.tooltip.right .tooltip-arrow{ border-right-color: #fff; } 
.tooltip-inner{ background-color:#fff;}
/*end of styles for map tooltip*/
.map-pin{
   background:url(../images/map-marker.png) no-repeat left top;
   width:24px;
   height:24px;
   text-indent:-99999em;
}

/* ==================== End Map Settings ==================== */
// ================= Bootstrap fixes =============== \\
.container{
   @media(min-width:1320px){
      width: 1280px;
   }
}